<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brp.mapper.SalesOpportunityMapper" >
  <resultMap id="BaseResultMap" type="com.brp.entity.SalesOpportunityEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createUser" property="createUser" jdbcType="VARCHAR" />
    <result column="updateUser" property="updateUser" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="provinceId" property="provinceId" jdbcType="VARCHAR" />
    <result column="provinceName" property="provinceName" jdbcType="VARCHAR" />
    <result column="cityId" property="cityId" jdbcType="VARCHAR" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
    
    <result column="areaId" property="areaId" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="facsimile" property="facsimile" jdbcType="VARCHAR" />
    <result column="weibo" property="weibo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isDelete" property="isDelete" jdbcType="INTEGER" />
    
    
    <result column="createUserId" property="createUserId" jdbcType="VARCHAR" />
    <result column="updateUserId" property="updateUserId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="departmentId" property="departmentId" jdbcType="VARCHAR" />
    
    <result column="departmentName" property="departmentName" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="salesOpportunityName" property="salesOpportunityName" jdbcType="VARCHAR" />
    <result column="oppoSource" property="oppoSource" jdbcType="INTEGER" />
    
    <result column="customerId" property="customerId" jdbcType="VARCHAR" />
    <result column="customerName" property="customerName" jdbcType="VARCHAR" />
    <result column="oppotunityType" property="oppotunityType" jdbcType="INTEGER" />
    <result column="saleMoney" property="saleMoney" jdbcType="VARCHAR" />
    <result column="endOppoTime" property="endOppoTime" jdbcType="TIMESTAMP" />
    
    <result column="saleStage" property="saleStage" jdbcType="INTEGER" />
    <result column="winRate" property="winRate" jdbcType="VARCHAR" />
    <result column="stageUpdateTime" property="stageUpdateTime" jdbcType="TIMESTAMP" />
    <result column="marketActivityId" property="marketActivityId" jdbcType="VARCHAR" />
    <result column="lockStatus" property="lockStatus" jdbcType="INTEGER" />
    
    <result column="failStage" property="failStage" jdbcType="INTEGER" />
    <result column="failOrderReason" property="failOrderReason" jdbcType="INTEGER" />
    <result column="failDesc" property="failDesc" jdbcType="VARCHAR" />
  </resultMap> 
     
  <sql id="Base_Column_List" >
	  id,createUser,updateUser,createTime, updateTime,
   	  postcode,provinceId,provinceName,cityId,cityName,
   	  areaId,areaName,facsimile,weibo,remark,isDelete,
   	  createUserId,updateUserId,userId,userName,departmentId,
   	  departmentName,companyId,companyName,salesOpportunityName,
   	  oppoSource,customerId,customerName,oppotunityType,saleMoney,
   	  endOppoTime,saleStage,winRate,stageUpdateTime,marketActivityId,
   	  lockStatus,failStage,failOrderReason,failDesc
  </sql>
  <insert id="insertSalesOpportunity" parameterType="com.brp.entity.SalesOpportunityEntity" useGeneratedKeys="true" keyProperty="id">
    insert sales_opportunity
   		(createUser,updateUser,createTime, updateTime,
   	  postcode,provinceId,provinceName,cityId,cityName,
   	  areaId,areaName,facsimile,weibo,remark,isDelete,
   	  createUserId,updateUserId,userId,userName,departmentId,
   	  departmentName,companyId,companyName,salesOpportunityName,oppoSource,
   	  customerId,customerName,oppotunityType,saleMoney,
   	  endOppoTime,saleStage,winRate,stageUpdateTime,marketActivityId,
   	  lockStatus,failStage,failOrderReason,failDesc
   		 ) 
    values
    	( #{createUser,jdbcType=VARCHAR},#{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
    	#{postcode,jdbcType=VARCHAR},#{provinceId,jdbcType=VARCHAR},#{provinceName,jdbcType=VARCHAR},#{cityId,jdbcType=VARCHAR},#{cityName,jdbcType=VARCHAR},
    	#{areaId,jdbcType=VARCHAR},#{areaName,jdbcType=VARCHAR},#{facsimile,jdbcType=VARCHAR},#{weibo,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{isDelete,jdbcType=INTEGER},
    	#{createUserId,jdbcType=VARCHAR},#{updateUserId,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{departmentId,jdbcType=VARCHAR},
    	#{departmentName,jdbcType=VARCHAR},#{companyId,jdbcType=INTEGER},#{companyName,jdbcType=VARCHAR},#{salesOpportunityName,jdbcType=VARCHAR},
    	#{oppoSource,jdbcType=INTEGER},
    	#{customerId,jdbcType=VARCHAR},#{customerName,jdbcType=VARCHAR},#{oppotunityType,jdbcType=INTEGER},#{saleMoney,jdbcType=VARCHAR},
    	#{endOppoTime,jdbcType=TIMESTAMP},#{saleStage,jdbcType=INTEGER},#{winRate,jdbcType=VARCHAR},#{stageUpdateTime,jdbcType=TIMESTAMP},#{marketActivityId,jdbcType=VARCHAR},
    	#{lockStatus,jdbcType=INTEGER},#{failStage,jdbcType=INTEGER},#{failOrderReason,jdbcType=INTEGER},#{failDesc,jdbcType=VARCHAR}

    	)
  </insert>
   <select id="getSalesOpportunityPage" resultMap="BaseResultMap" parameterType="com.brp.util.query.SalesOpportunityQuery" >
         select 
         <include refid="Base_Column_List" />
         from sales_opportunity
         where isDelete = 0
         <trim prefix=" " suffix="" suffixOverrides="" >
		     
		      
		      <if test="roleType == 1">
		      	and companyId = #{companyId}
		      </if>
		      <if test="roleType == 2">
		      	and departmentId in (${departmentId})
		      </if>
		      <if test="roleType == 3">
		      	and userId = #{userId}
		      </if>
			 <if test="customerId != null">
				 and customerId = #{customerId}
			 </if>
		 </trim>
		 
         order by createTime desc
    </select>
    
    <select id="getSalesOpportunityById" resultMap="BaseResultMap" parameterType="java.lang.String" >
         select 
         <include refid="Base_Column_List" />
         from sales_opportunity
         where 
         id=#{id} and isDelete=0 
    </select>
  	<update id="deleteSalesOpportunityById"  parameterType="java.lang.String" >
         update sales_opportunity set isDelete=1 where id=#{id} limit 1;
    </update>
    <update id="batchDeleteSalesOpportunity"  parameterType="java.lang.String">
         update sales_opportunity set isDelete=1 where id in (${inId});
    </update>
    <update id="updateSalesOpportunity" parameterType="com.brp.entity.SalesOpportunityEntity">
    	update sales_opportunity set 
    	<if test="createUser != null">
    		createUser = #{createUser, jdbcType=VARCHAR},
    	</if>
    	<if test="createUser != null">
    		createUser = #{createUser, jdbcType=VARCHAR},
    	</if>
    	<if test="updateUser != null">
    		updateUser = #{updateUser, jdbcType=VARCHAR},
    	</if>
    	<if test="createTime != null">
    		createTime = #{createTime, jdbcType=TIMESTAMP},
    	</if>
    	<if test="updateTime != null">
    		updateTime = #{updateTime, jdbcType=TIMESTAMP},
    	</if>
    	
    	<if test="postcode != null">
    		postcode = #{postcode, jdbcType=VARCHAR},
    	</if>
    	<if test="provinceId != null">
    		provinceId = #{provinceId, jdbcType=VARCHAR},
    	</if>
    	<if test="provinceName != null">
    		provinceName = #{provinceName, jdbcType=VARCHAR},
    	</if>
    	<if test="cityId != null">
    		cityId = #{cityId, jdbcType=VARCHAR},
    	</if>
    	<if test="cityName != null">
    		cityName = #{cityName, jdbcType=VARCHAR},
    	</if>
    	
    	<if test="areaId != null">
    		areaId = #{areaId, jdbcType=VARCHAR},
    	</if>
    	<if test="areaName != null">
    		areaName = #{areaName, jdbcType=VARCHAR},
    	</if>
    	<if test="facsimile != null">
    		facsimile = #{facsimile, jdbcType=VARCHAR},
    	</if>
    	<if test="weibo != null">
    		weibo = #{weibo, jdbcType=VARCHAR},
    	</if>
    	<if test="remark != null">
    		remark = #{remark, jdbcType=VARCHAR},
    	</if>
    	<if test="isDelete != null">
    		isDelete = #{isDelete, jdbcType=INTEGER},
    	</if>
    	<if test="departmentId != null">
    		departmentId = #{departmentId, jdbcType=VARCHAR},
    	</if>
    	<if test="departmentName != null">
    		departmentName = #{departmentName, jdbcType=VARCHAR},
    	</if>
    	
    	
    	<if test="userId != null">
    		userId = #{userId, jdbcType=VARCHAR},
    	</if>
    	
    	<if test="userName != null">
    		userName = #{userName, jdbcType=VARCHAR},
    	</if>
    	<if test="companyId != null">
    		companyId = #{companyId, jdbcType=VARCHAR},
    	</if>
    	<if test="companyName != null">
    		companyName = #{companyName, jdbcType=VARCHAR},
    	</if>
		<if test="salesOpportunityName != null">
			salesOpportunityName = #{salesOpportunityName, jdbcType=VARCHAR},
		</if>
		<if test="oppoSource != null">
			oppoSource = #{oppoSource, jdbcType=INTEGER},
		</if>
		<if test="customerId != null">
			customerId = #{customerId, jdbcType=VARCHAR},
		</if>
		<if test="customerName != null">
			customerName = #{customerName, jdbcType=VARCHAR},
		</if>
		<if test="oppotunityType != null">
			oppotunityType = #{oppotunityType, jdbcType=INTEGER},
		</if>
		<if test="saleMoney != null">
			saleMoney = #{saleMoney, jdbcType=VARCHAR},
		</if>

		<if test="endOppoTime != null">
			endOppoTime = #{endOppoTime, jdbcType=TIMESTAMP},
		</if>
		<if test="saleStage != null">
			saleStage = #{saleStage, jdbcType=INTEGER},
		</if>

		<if test="winRate != null">
			winRate = #{winRate, jdbcType=VARCHAR},
		</if>
		<if test="stageUpdateTime != null">
			stageUpdateTime = #{stageUpdateTime, jdbcType=TIMESTAMP},
		</if>
		<if test="marketActivityId != null">
			marketActivityId = #{marketActivityId, jdbcType=VARCHAR},
		</if>
		<if test="lockStatus != null">
			lockStatus = #{lockStatus, jdbcType=INTEGER},
		</if>
		<if test="failStage != null">
			failStage = #{failStage, jdbcType=INTEGER},
		</if>
		<if test="failOrderReason != null">
			failOrderReason = #{failOrderReason, jdbcType=INTEGER},
		</if>
		<if test="failDesc != null">
			failDesc = #{failDesc, jdbcType=VARCHAR},
		</if>
    	id = #{id}
    	where id = #{id} limit 1
    </update>
</mapper>